[Unit]
Description=Port forwarding for ssh
Requires=network.target
After=network.target

[Service]
ExecStart=nohup /usr/bin/ssh -N -L 2022:localhost:2022 root@bastion &

[Install]
WantedBy=multi-user.target
