[Unit]
Description=Network speed check and report
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/.local/bin/polaris -f  
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
