[Unit]
Description=Reverse SSH connection
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -vvv -g -N -T -o "ServerAliveInterval 10" -o "ExitOnForwardFailure yes" -L 2022:localhost:2022 root@bastion
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
