[Unit]
Description=Port forwarding for ssh
Requires=network.target
Wants=sshd.service
After=network.target

[Service]
ExecStart=nohup /usr/bin/ssh -N -L 2022:localhost:2022 root@bastion &
Restart=always

[Install]
WantedBy=multi-user.target
